@{
    ViewBag.Title = "NfxLab Dashboard";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 page-header">
        <h1>NfxLab Dashboard</h1>
        <div>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span id="updateTime" class=""></span>
            <span id="updateDate" class=""></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h2>Temperature</h2>
        <span id="temperature" class="data"></span> <span class="unit text-muted">°C</span>
    </div>
    <div class="col-md-3">
        <h2>Humidity</h2>
        <span id="humidity" class="data"></span> <span class="unit text-muted">%</span>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="~/Scripts/dashboard.js"></script>
}
