@{
    ViewBag.Title = "NfxLab Dashboard";

    dynamic data = HttpContext.Current.Application["Data"];

    if (data == null)
    {
        data = new System.Dynamic.ExpandoObject();
        data.temperature = 0;
        data.humidity = 0;
    }

    dynamic updateDate = HttpContext.Current.Application["UpdateDate"];
}

<div class="jumbotron">
    <span id="temperature">@data.temperature</span> °C - <span id="humidity">@data.humidity</span> %
</div>
@updateDate

<h2>Debug</h2>
<input id="debugTemperature" type="text" />
<input id="debugHumidity" type="text" />
<button id="debugPut">PUT</button>

@section scripts {
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script>
        var hub = $.connection.dashboardHub;
        hub.client.updateData = function (data) {
            console.log(data);
            $("#temperature").text(data.temperature);
            $("#humidity").text(data.humidity);
        };

        $.connection.hub.start().done(function () {
            // Wire up Send button to call NewContosoChatMessage on the server.
            //$('#newContosoChatMessage').click(function () {
            //    contosoChatHubProxy.server.newContosoChatMessage($('#displayname').val(), $('#message').val());
            //    $('#message').val('').focus();
            //});

            $("#debugPut").click(function () {
                var data = {
                    temperature: $("#debugTemperature").val(),
                    humidity: $("#debugHumidity").val()
                };

                $.ajax({
                    url: '/api/SensorData',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        // Do something with the result
                    }
                });
            })
        });
    </script>
}