@{
    ViewBag.Title = "NfxLab Dashboard";
}
@*<a href="https://github.com/NicolasFatoux/NfxLab.Dashboard">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>*@

<div class="row">
    <div class="col-md-6 col-md-offset-3 page-header">
        <h1>NfxLab Dashboard</h1>
        <div>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span id="updateTime" class=""></span>
            <span id="updateDate" class=""></span>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-3 col-md-offset-3">
            <h2>Temperature</h2>
            <span id="temperature" class="data"></span> <span class="unit text-muted">°C</span>
        </div>
        <div class="col-md-3">
            <h2>Humidity</h2>
            <span id="humidity" class="data"></span> <span class="unit text-muted">%</span>
        </div>
    </div>*@
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h2>Temperature</h2>
        <span id="temperature2" class="data"></span> <span class="unit text-muted">°C</span>
    </div>
    <div class="col-md-3">
        <h2>Pressure</h2>
        <span id="pressure" class="data"></span> <span class="unit text-muted">P</span>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="~/Scripts/dashboard.js"></script>
}
